<mat-card *ngIf="article">
  <h2>Article #{{article.articleId}}</h2>
  <form [formGroup]="articleForm" style="display: flex; flex-direction: column;">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category">
    </mat-form-field>
  </form>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" (click)="onFormSubmit()" style="margin-right: 50px">update</button>
    <button mat-raised-button color="primary" (click)="cancel()">cancel</button>
  </div>
</mat-card>
